<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".app.Accounting"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAccounting"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SmartAccounting.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />



        </activity>
        <activity android:name=".CropImageActivity" android:exported="true"></activity>
        <activity android:name=".OCRActivity" android:exported="true"></activity>
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true" />
        <activity android:name=".MessagesActivity" android:exported="true"></activity>
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"></activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChatActivity" />
        <activity android:name=".ReceivedActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".SendDocumentActivity" android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".CMSActivity" />
        <activity android:name=".ChangePasswordActivity" />

<!--        <provider-->
<!--            android:name="androidx.core.content.FileProvider"-->
<!--            android:authorities="${applicationId}.fileprovider"-->
<!--            android:exported="false"-->
<!--            android:grantUriPermissions="true">-->
<!--            <meta-data-->
<!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
<!--                android:resource="@xml/provider_path" />-->
<!--        </provider>-->

        <service android:name=".fcm.FirebaseMessageReceiver"
            android:exported="true">
            <intent-filter>
                 <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>